.poi{
  cursor: pointer;
}
.flex{
  display: flex;
}
.flex-1{
  flex:1;
}
.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: flex-end;
}
.justify-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.px-2{
  padding:0 10px;
}
.py-1{
  padding:5px 0;
}